@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Imperial+Script&family=Lexend+Deca:wght@300&family=Ruda&display=swap');


.FAQ_Overflow{
    overflow-y: auto;
}


* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background: #f0efef;
}

.container {
    margin: 0em 3em;
    padding: 1em;
    border-radius: 10px;
}

.container > h1 {
    color: black;
}

.accordion  {
    border-bottom: 1px solid #f0efef;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #224957;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #224957;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  margin-bottom: 10;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #224957;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #224957;
  border: 1px solid #224957;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 1em;

}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 1.5em;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #224957;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin-left: 1em;
  margin-right: 1em;
  color: #000;
}