@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Imperial+Script&family=Lexend+Deca:wght@300&family=Ruda&display=swap');

html {
    background-color: #E5E5E5;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr ;
    color:#AFAFAF;
    margin: 0;
    padding: 0;
}

#footerMain{
    grid-row: 3;
    grid-column: 1 / 3;
    display: flex;
    background-color: #224957;
    padding: 10px 1em;
}

footer>section>a:hover{
    color: whitesmoke;
}

footer>section>a{
    color: #AFAFAF;
    text-decoration: none;
    margin: 0 0.5em;
}

#footerMainRight{
    position: absolute;
    right: 1.5em;
    display: flex;

}

#footerMainRight>div, #footerMainRight>a{
    margin: 0 0.2em;
}

#HeaderMain{
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    background-color: #224957;
    padding: 10px 1em;
}

#HeaderMain{
    font-size:3rem;
}

aside{
    grid-row: 2;
    grid-column: 1;
    width: 250px;
    position: relative;
    background-color: #AFAFAF;
    color:#224957;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}

aside > a > img {
    width: 15%;
    align-content: left;
    margin-right: 1em;
}

aside > a {
    display: flex;
    align-content: left;
    justify-content: left;
    text-decoration: none;
    color: #224957;
}

aside > a{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    border-bottom: #224957 1px solid;
}

aside > a:hover{
    cursor: pointer;
    background-color: #dde2e4;
}
button{
    cursor: pointer;
    z-index: 1;
}

aside > form {
    position: absolute;
    bottom:3em;
}
button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    transform: translateY(0);
    transition: all 0.1s;
}

button:active{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#logout-button {
    display: flex;
    justify-content: space-evenly;
    background-color: #87CBA9;
    margin-left: 3em;
    margin-right: 3em;
    padding: 10px;
    font-size: 1em;
}

#logout-button > img {
    width: 12%;
}

main{
    font-size: 1.3em;
    background-color: white;
    display: block;
    margin: 2em 3em;
    padding: 1em;
    border-radius: 10px;
}
#DepartmentsMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.MainOverflow{
    max-height: 400px ; /* Este max-height vai ser alterado, sendo igual ao height do #HomePageContent menos o height do 1º article, que é aquela descrição.
                        Este 1ºarticle pode variar, dependendo do dispositivo onde tamos a ver. Penso que a única maneira de calcular isto seja através de
                        JavaScript (pelo menos é o que o chatGPT diz) */
    overflow-y: auto;
}
.TicketOverflow{
    height: 35vw;
    overflow-y: auto;
}

#Inquiries{
    height: 40vw;
    overflow-y: auto;
}

#ADepartmentMain{
    background-color: #D9D9D9;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    margin: 1em;
}

#ADepartmentMain > h4 {
    margin: 0.5em 0;
    padding-bottom: 0.3em;
    border-bottom: #224957 1px solid;
}

#ADepartmentMain > p {
    padding: 0 1em;
    margin: 1em;
}

#CreateNewTicket{
    margin: 2em 3em 0 3em;
    padding: 10px 20px;
    background-color: #20DF7F;
    font-size: 1em;
}

#CreateNewTicket > span {
    font-size: 1.3em;
    padding-right: 10px;
}

.HeaderMain{
    font-size: 2.2em;
    text-align: center;
    border-bottom: #224957 1px solid;
}

#ProfileMain{
    margin-bottom: 15em;
    margin-left: 8em;
    margin-right: 8em;
    color:#224957;
}

#ProfileMain > section > img{
    width: 180px;
}

#ChangePhoto > img{
    margin-left: 2em;
    width: 120px;
}

#ProfileMain > section{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    padding-right: 3em;
    padding-top: 5em;
}

#ProfileMain >section >article {
    font-size: 1.1em;
    line-height: 2.5em;
    padding-left: 1.5em;
    width: 50%;
}
#ProfileMain > section > article > div {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: #224957 1px solid;
}


#ProfileMain >section > article > div > span {
    text-align: right;
    display: block;
    vertical-align: center;
}

#EditProfileButton{
    display: block;
    margin: 2em auto 0;
    padding: 8px 28px;
    font-size: 1.3em;
    text-align: center;
    background-color: mediumpurple;
    color:whitesmoke;
}

.ticketsPage {
    color: #224957;
    background-color: transparent;
    margin: 0 2em 2em 2em;
}

.retangulo {
    background-color: #AFAFAF;
    color:#224957;
    width: 75vw;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.retangulo > section{
    padding: 1em;
    border-top: #224957 1px solid;
    text-align: center;
}
.retangulo > section:last-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.retangulo > section:last-child > article{
    display: flex;
    flex-direction: row;
}
.retangulo > section:last-child > article > h5{
    margin: 0 2em;
}

.retangulo article form, .retangulo article div{
    margin: 0 1.3em;
}

.retangulo > section > h3 {
    display: inline;
    margin: 10px;
    overflow-wrap: break-word;
}

.ticketText {
    text-align: center;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}

.ticketDescription {
    text-align: center;
    height: 10%;
}

#TicketStatus {
    display: inline;
    margin-right: 120px;
}

.circuloRed::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(200, 238, 119);
    margin-right: 0.5em;
}

.circuloYellow::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 0.5em;
}

.circuloGreen::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(252, 149, 105);
    margin-right: 0.5em;
}

.yourTickets {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 7em;
    font-size: 18px;
}

.TicketStatusTitle {
    font-weight: 500;
    font-size: 25px;
}

#tickets {
    max-height: 95%;
    overflow-y: auto;
}

#tickets::-webkit-scrollbar {
    width: 8px;
}

#tickets::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
}

#tickets::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

#EditProfileMain{
    color:#224957;
}
#ChangePhoto{
    display: inline;
}

#ChangePhoto > button {
    background-color: #224957;
    color: #FBFEFF;
    padding: 0.6em 1em;
    margin-left: 4em;
    font-size: 0.75em;
    border-radius: 15px;
}

#EditProfileMain > article {
    padding-left: 2em;
}

#EditProfileMain > form{
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

#EditProfileMain > form > article >div{
    margin-top: 1em;
    margin-right: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#EditProfileMain > form > article >div > label{
    width: 80%;
}

#EditProfileMain > form > article >div > label > input{
    font-size: 1em;
    width: 100%;
    background-color: #F6F6F6;
    border: rgba(0,0,0,0.3) 1px solid;
}

#SubmitEditButtons{
    margin: 2.5em;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#SubmitEditButtons > button{
    font-size: 1.2em;
    padding: 0.2em 1em;
    border-radius: 10px;
}

#SubmitEditButtons > button:first-child{
    background-color: #20DF7F;
}

#SubmitEditButtons >button:last-child{
    background-color: #F0887A;
}

.green{
    background-color: rgb(252, 149, 105);
}
.orange{
    background-color: yellow;
}
.red {
    background-color: rgb(200, 238, 119);
}


label{
    color:#224957;
}

#createticket form {
    margin: 0;
}
#createticket form div{
    padding: 0.5em 0;
}
.ticket-title {
    height: 2em;
    padding: 0;
}

.ticket-title label {
    margin-right: 0.8em;
}
.ticket-title input {
    width: 40%;
    height: 100%;
    border: 1px solid black;
}

.ticket-desc {
    height: 8em;
}
.ticket-desc label {
    margin-top:0.5em
}
.ticket-desc textarea {
    resize: none;
    width: 100%;
    height: 80%;
    border: 1px solid black;
}

.ticket-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.ticket-dep label{
    margin-right: 0.5em;
}

.ticket-prio select{
    color: #8E8E8E;
    font-weight: 600;
    font-size: 0.7em;
    width: 15em;
    padding: 1em;
    border: none;
    border-radius: 10px;
}

.ticket-date {
    margin-right: 2em;
}

.ticket-dep select {
    width: 15em;
    color: #8E8E8E;
    font-weight: 600;
    font-size: 0.7em;
    padding: 1em;
    border: none;
    border-radius: 10px;
}

#createticket .form-wrapper {
    padding: 1em;
    padding-bottom: 3em;
    background: #AFAFAF;
    border-radius: 10px;
}

form .btn-submit {
    color: #224957;
    margin-top: 2.5em;
    margin-right: 1em;
    padding: 0.5em 1em;
    width: 10em;
    background-color: #20DF7F;
    font-size: 0.9em;
    font-weight: 600;
}

form .btn-cancel{
    color: #224957;
    margin-top: 2.5em;
    margin-left: 1em;
    padding: 0.5em 1em;
    width: 10em;
    background-color: #F0887A;
    font-size: 0.9em;
    font-weight: 600;
}
.AssignTicket{
    display: flex;
}

.AssignTicket button{
    padding: 0.5em 1em;
    background-color: slateblue;
    color: whitesmoke;
}

.noPadding{
    padding: 0;
    color: #224957;
}

.noPadding > table{
    width: 100%;
    line-height: 4em;
    font-size: 1em;
    border-collapse: collapse;
}

.noPadding > table tr{
    border-bottom: 2px #224957 solid;
}
.noPadding > table thead{
    border-bottom: 6px #224957 solid;
}
.noPadding > table form{
    margin: 0;
}
.noPadding > table button{
    background-color: greenyellow;
    margin: 0;
    padding: 1em 1.5em;
}

.retangulo > h5{
    padding: 2em 0 0 2em;
    margin-bottom: 0;
}

#AcceptTicketFromInquiry{
    background-color: green;
}

#RejectTicketFromInquiry{
    background-color: #ff3333;
}

#Filter {
    position: relative;
    display: flex;
    justify-content: space-between;
}

#Filter > article{
    display: flex;
}

#Filter button{
    margin: 0 3.5em;
    padding: 0.5em 1em;
}
ul{
    position: absolute;
    top:33px;
    padding: 0;
    margin:0;
    z-index: 2;
}

#Filter ul>div{
    background-color: white;
    border: 1px #224957 solid;
    border-radius: 14px;
    padding: 0.4em 0.6em;
    margin-bottom: 0.24em;
    display: flex;
    justify-content: space-between;
}

.ChangeStatusButton{
    position: relative;
}

.change-status-btn{
    margin-bottom:1em
}

.StatuschangeList{
    position: absolute;
    right: -35px;
    top:36px;
}

.StatuschangeList > button{
    background-color: crimson;
    margin-right: 1em;
}

#DateFilterButton img{
    max-width: 13px;
}