body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr ;
    color:#224957;
}

#footerMain{
    grid-row: 3;
    grid-column: 1 / 3;
    display: flex;
    background-color: steelblue;
    padding: 10px 1em;
}

footer>section>a:hover{
    color: whitesmoke;
}

#footerMainRight{
    position: absolute;
    right: 1.5em;
    display: flex;

}

#footerMainRight>div, #footerMainRight>a{
    margin: 0 0.2em;
}

#HeaderMain{
    grid-column: 1/3;
    background-color: #AFAFAF;
    letter-spacing: 2px;
    font-family: "Lexend Deca", sans-serif;
    padding: 0.4em 2em;
    font-size: 2em;
    margin: 0;
    border-bottom: #224957 1px solid;
}

#HeaderMain{
    font-size: 2em;
}

aside{
    grid-row: 2;
    grid-column: 1;
    width: 250px;
    background-color: #AFAFAF;
    color:#224957;
    letter-spacing: 2px;
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    flex-direction: column;
}

aside > section > img{
    width: 15%;
}

aside > section > div{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 1em;
}

aside > section{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    border-bottom: #224957 1px solid;
}

aside > section:hover{
    background-color: wheat;
}

#MainContent{
    grid-column: 2;
}

#logout-button {
    display: flex;
    justify-content: space-evenly;
    background-color: #87CBA9;
    margin-top: 30em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    transform: translateY(0);
    transition: all 0.2s;
    font-size: 1em;
}

#logout-button > img {
    width: 12%;
}

#logout-button:active{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}