@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Imperial+Script&family=Lexend+Deca:wght@300&family=Ruda&display=swap');

html {
    background-color: #E5E5E5;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr ;
    color:#AFAFAF;
    margin: 0;
    padding: 0;
}

#footerMain{
    grid-row: 3;
    grid-column: 1 / 3;
    display: flex;
    background-color: #224957;
    padding: 10px 1em;
}

footer>section>a:hover{
    color: whitesmoke;
}

#footerMainRight{
    position: absolute;
    right: 1.5em;
    display: flex;

}

#footerMainRight>div, #footerMainRight>a{
    margin: 0 0.2em;
}

#HeaderMain{
    grid-row: 1;
    grid-column: 1 / 3;
    display: flex;
    background-color: #224957;
    padding: 10px 1em;
}

#HeaderMain{
    font-size:3rem;
}

aside{
    grid-row: 2;
    grid-column: 1;
    width: 250px;
    position: relative;
    background-color: #AFAFAF;
    color:#224957;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
}

aside > section > img{
    width: 15%;
}

aside > section > div{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 1em;
}

aside > section{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: flex;
    align-items: center;
    border-bottom: #224957 1px solid;
}

aside > section:hover{
    cursor: pointer;
    background-color: #dde2e4;
}
button{
    cursor: pointer;
}

aside > form {
    position: absolute;
    bottom:3em;
}
button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
    transform: translateY(0);
    transition: all 0.1s;
}

button:active{
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#logout-button {
    display: flex;
    justify-content: space-evenly;
    background-color: #87CBA9;
    margin-left: 3em;
    margin-right: 3em;
    padding: 10px;
    font-size: 1em;
}

#logout-button > img {
    width: 12%;
}

main{
    font-size: 1.3em;
    background-color: white;
    display: block;
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
}

#DepartmentsMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 400px; /* Este max-height vai ser alterado, sendo igual ao height do #HomePageContent menos o height do 1º article, que é aquela descrição.
                        Este 1ºarticle pode variar, dependendo do dispositivo onde tamos a ver. Penso que a única maneira de calcular isto seja através de
                        JavaScript (pelo menos é o que o chatGPT diz) */
    overflow-y: auto;
}

#ADeparmentMain{
    background-color: #D9D9D9;
    width: 400px;
    border-radius: 15px;
    text-align: center;
    margin: 1em;
}

#ADeparmentMain > h4 {
    margin: 0.5em 0;
    padding-bottom: 0.3em;
    border-bottom: #224957 1px solid;
}

#ADeparmentMain > p {
    padding: 0 1em;
    margin: 1em;
}

#CreateNewTicket{
    margin: 2em 3em 0 3em;
    padding: 10px 20px;
    background-color: #20DF7F;
    font-size: 1em;
}

#CreateNewTicket > span {
    font-size: 1.3em;
    padding-right: 10px;
}

#HeaderProfile{
    font-size: 2.2em;
    text-align: center;
    border-bottom: #224957 1px solid;
}

#ProfileMain{
    margin-bottom: 15em;
    margin-left: 8em;
    margin-right: 8em;
    color:#224957;
}

#ProfileMain > section > img{
    width: 180px;
}

#ProfileMain > section{
    display: flex;
    justify-content: center ;
    align-content: flex-end;
    padding-right: 3em;
    padding-top: 5em;
}

#ProfileMain >section >article {
    position: relative;
    font-size: 1.1em;
    line-height: 1.5em;
    top:3em;
    left:1em;
}

#EditProfileButton{
    display: block;
    margin: 3em auto 0;
    padding: 8px 28px;
    font-size: 1.3em;
    text-align: center;
    background-color: #C0CAC5;
}

#tickets {
    color: #224957;
}

.retangulo {
    background-color: white;
    width: 75vw;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.blackLine {
    border-bottom: 0.2px solid #224957;
    margin-top: -3px;
}

#ticketText {
    margin-left: 2vw;
    padding-top: 10px;
}

#ticketDescription {
    text-align: center;
    height: 10%;
}

#inline {
    display: inline;
    margin-right: 10%;
}

#TicketStatus {
    display: inline;
    margin-right: 120px;
}

.circuloRed::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(252, 149, 105);
    margin-right: 0.5em;
}

.circuloYellow::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: yellow;
    margin-right: 0.5em;
}

.circuloGreen::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(200, 238, 119);
    margin-right: 0.5em;
}

#yourTickets {
    margin-top: 2em;
    margin-left: 7em;
    font-size: 18px;
}

.TicketStatusTitle {
    font-weight: 500;
    font-size: 25px;
}

#tickets {
    max-height: 95%; 
    overflow-y: auto;
}

#tickets::-webkit-scrollbar {
    width: 8px;
}

#tickets::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 4px;
}

#tickets::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}